@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,300;0,500;0,600;1,400&display=swap');

*{
    margin:0;
    padding:0;
    box-sizing: border-box;
     font-family: 'Poppins', sans-serif; 
}

body{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background: #f2f2f2;
}
.profile-card{
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 370px;
    width: 100%;
    background: #fff;
    border-radius: 24px;
    padding: 25px;
    position: relative;
    box-shadow: 0 5px 10px rgba(0,0,0,0.1);
}
.profile-card::before{
    content: '';
    position: absolute;
    top:0;
    left:0;
    height: 36%;
    width: 100%;
    background: #4070f4;
    border-radius: 24px 24px 0 0;
    
     
}
.profile-card .tex-data{
    display: flex;
    flex-direction: column;
    align-items: center;
    color: #333;
}
.image{
    position: relative;
    width: 150px;    
    height: 150px;
    border-radius:50%;
    background-color: #4070f4;
    padding: 3px;
    margin-bottom: 10px;

}

.image .profile-img{
    height: 100%;
    width: 100%;
    object-fit: cover;
    border-radius: 50%;
    boder: 3px solid #fff;
}

.tex-data .name{
    font-size: 22px;
    font-weight: 500;
     
}

.tex-data .profession{
    font-size: 15px;
    font-weight: 400;
     
}

.profile-card .media-icons{
    display: flex;
    align-items: center;
    margin-top: 15px;
}

.media-icons a{
    height: 34px;
    width: 34px;
    display: flex;
    border-radius: 50%;
    justify-content: center;
    align-items: center;
    margin: 0 8px;
    background:#4070f4;
    color: #fff;
    font-size: 18px;
    text-decoration: none;
     
}

.profile-card .buttons{
     display: flex;
     align-items: center;
     margin-top: 25px;
}

.buttons .btn{
    font-size: 14px;
    font-weight: 400;
    color: #fff;
    border-radius: 24px;
    border: none;
    margin: 0 10px;
    padding: 8px 24px;
    background-color: #4070f4;
    cursor: pointer;
    transition: all 0.3s ease;
}
.buttons .btn:hover{
    background-color: #0e4bf1;
}

.profile-card .anaylitcs{
    display: flex;
    align-items: center;
    margin-top: 25px;

}

.anaylitcs .data{
    display: flex;
    align-items: center;
    color: #333;
    padding:0 20px;
    border-right: 2px solid #e7e7e7;

}

.data i{
    font-size:18px;
    margin-right: 6px;
}
.data:last-child{
    border-right: none;
}